@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
    padding: 0;
    margin: 0;
    zoom: 0.9;
    font-family: Roboto !important;
    text-align: justify !important;
    background-color: #fefefe !important;
}

:root {
    --iubat_review_red_color: #e90f2c;
    --iubat_review_red_color_transparent: #c82339de;
    --iubat_review_black_color_transparent: #030000da;
    --iubat_review_green-color: #1e5f16;
    --navbar_color: #046609f6;
    --iubat-review_text-black-color: #030000;
    --iubat-review_white-color: white;
}

.header {
    margin-bottom: 20px;
}

.header ul {
    padding: 0;
    margin: 0;
}

.header ul li {
    list-style: none;
    display: inline;
}

.header ul li a {
    text-decoration: none;
    font-size: 40px;
}

.header .image {
    width: 200px;
    margin: 20px 0;
}

.banner-section iframe {
    border: none;
}

@media (max-width: 768px) {
    .header .image {
        margin: 0 auto;
    }
    .header ul {
        margin-top: 20px;
        text-align: center;
    }
}


/* #################################### */


/* Award section*/

.box-shadow {
    /* padding: 30px; */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* border: 2px solid rgba(212, 214, 212, 0.904); */
}


/* GAllery  */

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}


/* Styles for the gallery */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
}

.tz-gallery .caption {
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 6px
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}


/* Carouesel */

.carousel img {
    height: 650px !important;
    width: 100vh;
}

.bg-color {
    background-color: var(--navbar_color);
}


/* Header  */

@media screen and (max-width: 600px) {
    .header_heading {
        display: none;
    }
}


/* Navbar */

nav {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

nav .nav-link {
    transition: 0.5s;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

nav .nav-link:hover {
    background-color: var(--iubat_review_red_color);
    color: white;
    border-radius: 2px;
    margin-left: 10px;
    padding: 10px;
}

nav .dropdown-menu {
    background-color: var(--iubat_review_green-color) !important;
}

nav .dropdown-menu a {
    transition: 0.3s;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

nav .dropdown-menu a:hover {
    background-color: var(--iubat_review_red_color);
    color: white;
    border-radius: 2px;
}

.dropdown_Sub {
    position: relative;
    display: inline-block;
}

.dropdown-content_Submenu {
    display: none;
    position: absolute;
    background-color: var(--iubat_review_green_color_transparent);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown_Sub:hover .dropdown-content_Submenu {
    display: block;
}

.dropdown-menu {
    background-color: var(--iubat_review_green_color_transparent) !important;
}

.dropdown-item {
    color: white !important;
}

.donate {
    background-color: var(--iubat_review_red_color);
    color: var(--iubat_review_white_color);
    border-radius: 2px;
}

.donate:hover {
    background-color: var(--iubat_review_white_color);
    color: var(--iubat_review_white_color);
    border-radius: 2px;
}

.credit {
    float: right !important;
}

@media screen and (max-width: 992px) {
    .container-fluid__homepage {
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
}

.bg-image {
    background-image: url('../images/bg-image-ijournal.jpg');
    /* background-repeat:no-repeat !important; */
    background-color: rgb(255 255 255);
    background-size: cover !important;
    background-blend-mode: multiply;
    height: 500px;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 600px) {
    .bg-image {
        display: none;
        margin-top: 20px;
    }
}

.bg-image__intro {
    text-align: center;
    color: #fff !important;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-image__intro h3 {
    font-size: 55px;
    line-height: 1.0;
    text-shadow: 2px 2px 3px #a22;
}

.bg-image__intro h5 {
    font-size: 35px;
}

.bg-image__intro p {
    font-size: 20px;
}

.bg-image__intro a {
    font-size: 18px;
    color: white;
}

.guidelines div ul li {
    list-style-type: square;
    font-size: 18px;
}

.indexform button {
    padding: 0 !important;
    margin: 0 !important;
}

.indexform button:hover {
    color: #0b4953 !important;
}

.volumeissue {
    cursor: pointer;
}

.volumeissue:hover {
    color: #17defe !important;
}

.colorbtn {
    color: #17defe !important;
}

.jumbotron__papername {
    font-size: 19px !important;
    color: #000000!important;
    text-align: justify !important;
    font-weight: 500;
}

.jumbotron {
    background-color: rgb(254 254 254 / 80%) !important;
}

.jumbotron h5 {
    font-weight: bold !important;
    font-size: 20px;
}

.jumbotron p {
    font-size: 16px;
}

.jumbotron a {
    font-size: 16px;
}

.instruction__fontsize small {
    font-size: 16px !important;
}

.sidebars i {
    font-size: 16px !important;
    color: #2ca32f !important;
}

#main {
    transition: margin-left .5s;
    /* padding: 16px; */
    margin-left: 250px;
}

.sidebar {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f7f9f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
    border: 2px solid rgba(212, 214, 212, 0.904);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: black;
}

.closebtn {
    /* position: absolute; */
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    color: green;
    border: none;
    margin-left: 5px;
    /* display:none; */
    overflow: hidden;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    color: green;
    border: none;
    margin-left: 5px;
    display: none;
    overflow: hidden;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}


/* Progress bar section starts here  */

.card.card-statistic-1,
.card.card-statistic-2 {
    display: inline-block;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 2px solid rgba(212, 214, 212, 0.904);
}

.card:hover {
    background-color: rgb(0 123 255 / 11%);
}

.card.card-statistic-1 .card-icon {
    line-height: 90px;
}

.card.card-statistic-1 .card-icon,
.card.card-statistic-2 .card-icon {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 3px;
    line-height: 94px;
    text-align: center;
    float: left;
    margin-right: 15px;
}

.card.card-statistic-1 .card-body {
    font-size: 20px;
}

.card.card-statistic-1 .card-body,
.card.card-statistic-2 .card-body {
    font-size: 26px;
    font-weight: 700;
    color: #34395e;
    padding-bottom: 0;
}

.card.card-statistic-1 .card-body,
.card.card-statistic-2 .card-body {
    padding-top: 0;
}

.card .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card .card-header,
.card .card-body,
.card .card-footer {
    background-color: transparent;
    padding: 20px 25px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card.card-statistic-1 .card-header h4 {
    margin-bottom: 0;
}

.card.card-statistic-1 .card-header h4,
.card.card-statistic-2 .card-header h4 {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .5px;
}

.card.card-statistic-1 .card-header h4,
.card.card-statistic-2 .card-header h4 {
    line-height: 1.2;
    color: #98a6ad;
}

.card .card-header h4 {
    font-size: 16px;
    line-height: 28px;
    color: #6777ef;
    padding-right: 10px;
    margin-bottom: 0;
}

.card.card-statistic-1 .card-icon .ion,
.card.card-statistic-1 .card-icon .fas,
.card.card-statistic-1 .card-icon .far,
.card.card-statistic-1 .card-icon .fab,
.card.card-statistic-1 .card-icon .fal,
.card.card-statistic-2 .card-icon .ion,
.card.card-statistic-2 .card-icon .fas,
.card.card-statistic-2 .card-icon .far,
.card.card-statistic-2 .card-icon .fab,
.card.card-statistic-2 .card-icon .fal {
    font-size: 22px;
    color: #fff;
}

.fas,
.far,
.fab,
.fal {
    font-size: 13px;
}

.container-fluid__homepage .card {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03); */
    background-color: none;
    border-radius: 3px !important;
    border: none;
    position: relative !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.container-fluid__homepage .accordion .card:hover {
    background-color: rgba(0, 128, 0, 0) !important;
}

.container-fluid__homepage .accordion .card-header {
    margin-bottom: 0px !important;
}

.container-fluid__homepage .accordion .card .card-header,
.card .card-body,
.card .card-footer {
    padding: 5px 16px;
}

.container-fluid__homepage .accordion .card-header .btn.focus,
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
}


/* INdex page Card  */


/* login section starts here ----------------------------------------------------------------------------------------------- */

/* sign in FORM */
#logreg-forms{
    width:500px;
    margin:2vh auto;
    background-color:#ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border:2px solid rgba(212, 214, 212, 0.904);
}
#logreg-forms form {
    width: 100%;
    max-width: 500px; 
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; padding: 30px; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}
.form-signin{
    padding:30px !important;
}
.Admin_Author {
    margin-right: 30px;
}
.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

.marginbtm input{
    
margin: 10px 0px;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:100%;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}

.logo-container {
    
width: 50px;
    
margin: 0 auto;
}
.logo-container img{
height: 40px;
}
.logo{

font-size: 40px;

color: #008000ba;
}

.login-details{
    /* width: 100%; */
    margin: 5px 0;
    }
    .login-details ul{
        /* width: 50%; */
        margin: 0 auto;
    }
    .login-details ul li{
    
    list-style: none;
    
    display: inline;
    
    margin: 0 15px;
    }

     /* Instruction Section Starts here  */
    .description {
       margin-left:100px !important;
     }
 @media screen and (max-width: 992px) {
     .description {
      margin-left:10px !important;
       }
     }

     /* Instruction Section Ends Here */

.form-control-login input{
    border-radius:10px;
}

/* Footer section css ends here  */

.header-floating {
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border:2px solid rgba(212, 214, 212, 0.904);
  }
  
  /* Sidebar and Card Section css starts here */
  
  @media screen and (max-width: 992px) { 
    .sidebar {
      height: 100%;
      width: 0px !important;
      position: fixed;
      z-index: 1; 
      top: 0; 
      left: 0;
      background-color: #f7f9f7;
      overflow-x: hidden !important;
      transition: 0.5s !important;
      padding-top: 60px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      border:2px solid rgba(212, 214, 212, 0.904);
    }
  
    #main {
      margin-left:0px !important;
    }
    .closebtn {
      display:none;
    }
     .openbtn {
       display:none;
     }
    }
  .sidebar {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #f7f9f7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
       /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
    border:2px solid rgba(212, 214, 212, 0.904);
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: black;
  }
  
   .closebtn {
    /* position: absolute; */
    font-size:30px;
    cursor: pointer;
    background-color: white;
    color: green;
    border: none;
    margin-left:5px;
    /* display:none; */
    overflow: hidden;
  }
  
  .openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    color: green;
    border: none;
    margin-left:5px;
    display:none;
    overflow: hidden;
  }
  
  /* .openbtn:hover {
    background-color: #444;
  } */
  
  #main {
    transition: margin-left .5s;
    /* padding: 16px; */
    margin-left:250px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  /* Progress bar section starts here  */